@import url(npm:katex/dist/katex.min.css);
@import url(npm:highlight.js/styles/github.css);

body {
  font-family: sans-serif;
}

.warning {
  border: 4px orange solid;
  padding: 1em;
}

.header-anchor {
  box-sizing: border-box;
  opacity: 0;
  padding-left: 0.5em;
}

.header-anchor:hover,
:hover > .header-anchor {
  opacity: 1;
}
