/* @import url(npm:katex/dist/katex.min.css); */
@import url(npm:prismjs/themes/prism.css);

body {
  font-family: sans-serif;
}

nav img {
  width: 1em;
  height: 1em;
}

.warning {
  border: 4px orange solid;
  padding: 1em;
}

.header-anchor {
  box-sizing: border-box;
  opacity: 0;
  padding-left: 0.5em;
}

.header-anchor:hover,
:hover > .header-anchor {
  opacity: 1;
}
